/* Copyright 2023 catgirl-jade
 
   This file is part of nophicas-tidings.
 
   nophicas-tidings is free software: you can redistribute it and or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 
   nophicas-tidings is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License along with Foobar. If not, see <https:  www.gnu.org licenses >.
*/
div.calculated_stat {
  background-color: #00BB00;
}
div.calculating_stat {
  background-color: #BB0000;
}
label.validated {
  background-color: #00BB00;
}
label.unvalidated {
  background-color: #BB0000;
}
span.average-label {
  font-weight: bold;
}
div.result-header {
  background-color: #DDDDDD;
}
div.action-row {

}
div.action-row > div.action-quantity {
  text-align: center;
}
div.action-row > div.action-icons {
  text-align: left;
}
div.action-row > div.action-icons > img {
  width: 32px;
  height: 32px;
}
div.action-row > div.action-name {
  text-align: left;
}
